extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page

        p.text-xl.front-bold.text-center.my-10= message